<div class="container">
    <div class="row m-t-2">
        <div class="col-xs-12 text-xs-center">
            <h3>Edit Record <%= @person.id %></h3>
        </div>
    </div>
    <%= render 'form' %>
</div>