<div class="row v-c">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="m-y-2 card card-block shadow">
            <h5 class="text-xs-center">About</h5>
            <div class="col-xs-12">
                    <p style="text-align: justify; text-justify: inter-word; -moz-text-align-last: center; text-align-last: center;">Watchdog was created for use at point of contact for guests, customers, and clients. Its purpose is to provide pertinent information at this critical juncture for the employee to provide the best guest, customer, or client service possible.</p>
                    <p style="text-align: justify; text-justify: inter-word; -moz-text-align-last: center; text-align-last: center;">For any problems with the application or broken functions, please submit a support request via the link below.</p>                    
            </div>
            <div class="col-xs-12 m-y-1">
            <div class="col-xs-4 text-xs-center">
                Version - 0.10
            </div>
            <div class="col-xs-4 text-xs-center">
	            &copy; <script>document.write(new Date().getFullYear())</script> Wise Solutions
            </div>
            <div class="col-xs-4 text-xs-center">
                <a href="mailto:support@wsdm.us?Subject=Support%20Request" target="_top">Support Request</a>
            </div>
            </div>
        </div>
    </div>
</div>    