<div class="row v-c">         
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                <i class="fa fa-ticket m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                <br />
                <br />
                 <%= link_to "Manage Events", events_path, class:'color btn btn-primary m-b-2' %>
            </div>
        </div>        
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                <i class="fa fa-phone m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                <br />
                <br />
                 <%= link_to "Manage Directory", listings_path, class:'color btn btn-primary m-b-2' %>
            </div>
        </div>
</div>