<!-- Displays Application Index --*>
<*-- Compiled and Error Checked --*>
<*-- On 9/26/2016               --->
<div class="row v-c">
    <div class="col-xs-6">
        <div class="card card-block shadow text-xs-center">
            <i class="fa fa-users m-t-3" aria-hidden="true" style="font-size:65px;"></i>
            <br />
            <br />
            
            <%= link_to "Active Records", active_path, class:"color btn btn-primary m-b-2" %>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card card-block shadow text-xs-center">
            <i class="fa fa-balance-scale m-t-3" aria-hidden="true" style="font-size:65px;"></i>
            <br />
            <br />
            
            <%= link_to "Security Information", security_path, class:"color btn btn-primary m-b-2" %>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="card card-block shadow text-xs-center">
            <i class="fa fa-university m-t-3" aria-hidden="true" style="font-size:65px;"></i>
            <br />
            <br />
            
            <%= link_to "Property Information", property_path, class:"color btn btn-primary m-b-2" %>
        </div>
    </div>
</div>    
    

    
