<div class="container m-t-3">
    <div class="row m-y-2">
        <div class="col-xs-12 text-xs-center">
            <h2>Ameristar Casino and Hotel Kansas City Information</h2>
        </div>
    </div>
    <div class="row m-t-2">
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                 
                 <i class="fa fa-birthday-cake m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                 <br />
                 <br />

                 <%= link_to "Property Events", events_path, class:"color btn btn-primary m-b-2" %>
            </div>
        </div>
        
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                <i class="fa fa-university m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                <br />
                <br />
                 <%= link_to "Property Information", information_path, class:'color btn btn-primary m-b-2' %>
            </div>
        </div>
    </div>
    <div class="row m-t-2">
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                 
                 <i class="fa fa-balance-scale m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                 <br />
                 <br />

                 <%= link_to "Department Information", security_path, class:"color btn btn-primary m-b-2" %>
            </div>
        </div>
        
        <div class="col-xs-6">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                <i class="fa fa-phone m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                <br />
                <br />
                 <%= link_to "Property Directory", directory_path, class:'color btn btn-primary m-b-2' %>
            </div>
        </div>
    </div>
</div>